body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em;
    letter-spacing: -0.011em;
    font-family: 'Inter var', sans-serif;
    font-size: 16px;
    color: #34495e;
    background: #f8f9fa;
  }

.wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.line {
    stroke: rgb(46, 88, 204);
    stroke-width: 1px;
    fill: none;
}

.y-axis-label {
    font-size: 1.4em;
    text-anchor: middle;
    transform: rotate(-90deg);
    fill: black;
}

.tooltip-circle {
    stroke: blue;
    fill: none;
    stroke-width: 2;
}

.point {
    stroke: none;
    fill: red;
}

.listening-rect {
    fill: transparent;
    pointer-events: all;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: -14px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    line-height: 1.4em;
    font-size: 0.9em;
    border: 1px solid #ddd;
    z-index: 10;
    pointer-events: none;
  }
  
  .tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
  }
  .map-tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.country {
    stroke: black;
    stroke-width: 0.5px;
}
.country:hover {
    stroke-width: 1.5px;
}

.active {
    fill: rgb(255, 177, 175);
    stroke: none;
}

.bubble {
    fill: orangered;
    stroke: black;
    stroke-width: 0.2px;
}
.link {
    fill: none;
    stroke: black;
}
.ring {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}
.tt-text {
    font-size: 7px;
    font-family: sans-serif;
    fill: black;
    stroke: black;
    stroke-width: 0.1px;
}